/*************************
Navbar Container
*************************/
.main-nav {
  overflow: hidden;
  background-color: white;
}

#main-header {
  display: block;
  vertical-align: middle;
  width: 289px;
}

/*************************
Navbar links
*************************/

#main-nav {
  float: left;
  vertical-align: middle;
  position: relative;
  display: block;
  width: 289px;
}

.main-nav a {
  float: left;
  display: inline-block;
  color: teal;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li {
  display: inline-block;
}

li:hover span {
  float: center;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}


/*************************
Base Element Styles
*************************/
body {
  font-size: 1.1em;
  font-family: 'Catriel', sans-serif;
  color: darkgray;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: teal
}

h2 {
  display: block;
  color: teal;
}

h3 {
  display: block;
  color: teal;
}

p {
  margin-top: 20px;
}

/*************************
Sticky Footer
*************************/

.footer {
  min-height: calc (100vh - 89px);
  float: center;
  color: white;
  background-color: teal;
  text-align: center;
  padding: 10px;
  position: 0;
  bottom: 0;
  width: 100%;
}

/*************************
Burial Options Page Elements
*************************/

.options-submission {
  width: 40%;
  border:none;
  padding: 15px;
  margin: 15px;
  background-color: lightgray;
  font-display: block;
}

input {
  padding: 5px;
  margin: 3px;
  font-display: block;
}

input[type=text], textarea {
    width:70%;
    margin-top: 5px;
}

input[type=checkbox], textarea {
    margin-top: 10px;
}

.submission-title {
  color: black;
  font-size: 1.4em;
  font-display: block;
  text-align: left;
}

.submit-button {
  background-color: teal;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

/*************************
Media Queries
*************************/

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  #main-nav {
    display: block;
    width: 100%;
    float: center;
    vertical-align: middle;
    position: relative;
    align-content: center;
  }

  input[type=text], textarea {
    width:75%;
}

  .main-nav li,
  .main-nav a {
    display: block;
    width: 100%;
    background-color: teal;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .options-submission {
    width: 100%;
    border:none;
    padding: 15px;
    margin: 15px;
    background-color: lightgray;
    font-display: block;
  }
} */
