/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: white;
}

/* Navbar links */
#logo-nav {
  float: left;
  vertical-align: middle;
  position: relative;
  width: 35%;
}

.topnav a {
  float: left;
  display: inline-block;
  color: teal;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li {
  display: inline-block;
}

li:hover span {
  float: center;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

/*************************
Media Queries
*************************/

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav li,
  .topnav a {
    display: block;
    width: 100%;
    background-color: teal;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .options-submission {
    width: 40%;
    border:none;
    padding: 15px;
    margin: 15px;
    background-color: lightgray;
    font-display: block;
  }
}

/*Homepage should have h1 sections alternating, left and right, accompanied by a photo/map/interactive element*/

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: teal
}

h2 {
  color: darkgray;
}

h3 {
  color: darkgray;
}

.footer {
  min-height: calc (100vh - 89px);
  float: center;
  color: white;
  background-color: teal;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*************************
Burial Options Page Elements
*************************/

.options-submission {
  width: 40%;
  border:none;
  padding: 15px;
  margin: 15px;
  background-color: lightgray;
  font-display: block;
}

input {
  padding: 5px;
  margin: 3px;
  font-display: block;
}

.submission-title {
  color: black;
  font-size: 1.4em;
  font-display: block;
  text-align: center;
}

.submit-button {
  background-color: teal;
  color: white;
  padding: 10px;
}
